/**
 * Zurb Foundation Overrides
 */
.title-bar {
    margin-bottom: 1rem;
}

/**
 * Grid layouts
 */
.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}

.grid-cell {
    flex: 1;
}

/**
 * Specify the number of members in a grid row
 */
.grid-row-5 > .grid-cell {
    flex: 0 0 20%;
}

/**
 * Grids with gutters
 */
.grid-gutters {
    margin: 0 -0.5em;
}

.grid-gutters > .grid-cell {
    padding: 0.5em;
}

.gameboard-wrapper .gameboard {
    max-width: calc(100vmin - 1rem);
    margin: 0 auto;
}

.gameboard-wrapper input {
    margin: 0;
    padding: 0;
    height: auto;
    text-align: center;
    font-size: 15vmin;
}

.grid-button-wrapper {
    padding: 0.5em;
    flex: 1;
}

.grid-button-wrapper .button {
    line-height: 1.5;
    margin: 0;
    border: 0;
}

.button {
    width: 100%;
    font-size: 1rem;
}

.grid-cell:nth-child(odd) input {
    background-color: grey;
}

.grid-cell:nth-child(even) input {
    background-color: silver;
}

.grid-cell input.is-invalid-input:not(:focus) {
    background-color: rgba(236,88,64,.1)
}

.grid-cell:nth-child(odd) > .result {
    background-color: grey;
}

.grid-cell:nth-child(even) > .result {
    background-color: silver;
}

.result {
    padding: 1em;
    text-align: center;
}

.section-title .label {
    position: relative;
    top: -0.3rem;
}

.section {
    margin-bottom: 1rem;
}
