{{define "title"}}Home{{end}}

{{define "nav"}}
<li>Home</li>
{{end}}

{{define "body"}}
<p>Insert your boggle gameboard below and press submit to get a calculation of the boggle words available on your board</p>

<div class="gameboard-wrapper">
    <form class="gameboard grid grid-gutters grid-row-5" action="/solve" method="POST">

        {{range loop 25}}
        <div class="grid-cell columns">
            <input name="board[]" type="text" required pattern="^[a-zA-Z]+$" maxlength="2">
        </div>
        {{end}}

        <div class="grid-button-wrapper">
            <input class="button" type="submit" value="Submit">
        </div>
    </form>
</div>
{{end}}
