{{define "title"}}Home{{end}}

{{define "body"}}
<h1>Online Boggle Solver</h1>

<p>Insert your boggle gameboard below and press submit to get a calculation of the boggle words available on your board</p>

<div class="center-width">
	<div class="gameboard-wrapper">
		<form class="grid grid-gutters grid-row-5" action="/solve" method="POST">
			<div class="grid-cell">
				<input name="board[]" type="text">
			</div>
			<div class="grid-cell">
				<input name="board[]" type="text">
			</div>
			<div class="grid-cell">
				<input name="board[]" type="text">
			</div>
			<div class="grid-cell">
				<input name="board[]" type="text">
			</div>
			<div class="grid-cell">
				<input name="board[]" type="text">
			</div>

			<div class="grid-cell">
				<input name="board[]" type="text">
			</div>
			<div class="grid-cell">
				<input name="board[]" type="text">
			</div>
			<div class="grid-cell">
				<input name="board[]" type="text">
			</div>
			<div class="grid-cell">
				<input name="board[]" type="text">
			</div>
			<div class="grid-cell">
				<input name="board[]" type="text">
			</div>

			<div class="grid-cell">
				<input name="board[]" type="text">
			</div>
			<div class="grid-cell">
				<input name="board[]" type="text">
			</div>
			<div class="grid-cell">
				<input name="board[]" type="text">
			</div>
			<div class="grid-cell">
				<input name="board[]" type="text">
			</div>
			<div class="grid-cell">
				<input name="board[]" type="text">
			</div>

			<div class="grid-cell">
				<input name="board[]" type="text">
			</div>
			<div class="grid-cell">
				<input name="board[]" type="text">
			</div>
			<div class="grid-cell">
				<input name="board[]" type="text">
			</div>
			<div class="grid-cell">
				<input name="board[]" type="text">
			</div>
			<div class="grid-cell">
				<input name="board[]" type="text">
			</div>

			<div class="grid-cell">
				<input name="board[]" type="text">
			</div>
			<div class="grid-cell">
				<input name="board[]" type="text">
			</div>
			<div class="grid-cell">
				<input name="board[]" type="text">
			</div>
			<div class="grid-cell">
				<input name="board[]" type="text">
			</div>
			<div class="grid-cell">
				<input name="board[]" type="text">
			</div>

			<div class="grid-button-wrapper">
				<input class="button" type="submit" value="Submit">
			</div>
		</form>
	</div>
</div>
{{end}}
